.pageWrapper {
  display: flex;
  flex-direction: column;
  /* Stack items vertically */
  justify-content: space-between;
  /* Space between header, content, and footer */
  align-items: center;
  min-height: 100vh;
  /* Full height of the viewport */
  padding: 20px;
  /* Optional padding around the content */
  box-sizing: border-box;
  /* Include padding in width/height */
  background-color: #f2f2f2;

}

.title {
  text-align: center;

}



.section {
  height: 100vh;
}



.description {
  text-align: center;
  font-size: 1.25rem;

}



.subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;

}

.footer {
  padding: 2rem 0;
  text-align: center;
  background: #f0f0f0;
}


.hero{
  height: 100vh;
}





/* mantine */

.title {
  font-size: 2.125rem;
  font-weight: 900;
}

@media (max-width: 576px) {
  .title {
    font-size: 1.5rem;
  }
  .hero{
    
    margin-bottom:150px;
  }
  .container{
    margin-top: -60px;
    transition: margin-top 0.2s ease; 
  }
}

.pushDown {
  margin-top: -10px; /* Adjust this value based on your mobile menu height */
}

.description {
  max-width: rem(600px);
  margin: auto;

  &::after {
    content: '';
    display: block;
    background-color: #D35931;
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }
}

.card {
  border: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.cardTitle {
  &::after {
    content: '';
    display: block;
    background-color: var(--mantine-color-blue-filled);
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
  }
}

.iconImage {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  margin: 0 auto 20px;
}