/* styles/ConfirmationAnimation.module.css */
.checkmarkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto;
}

.checkmark {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #4CAF50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check {
  width: 40px;
  height: 20px;
  border: solid white;
  border-width: 0 5px 5px 0;
  transform: rotate(-45deg) scaleX(-1); /* Flip horizontally */
  position: absolute;
}
