.pageWrapper {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    
    
    min-height: 100vh; /* Full height of the viewport */
    padding: 20px; /* Optional padding around the content */
   
    
  }

  .content{
    padding-left: 200px;
    padding-right: 200px;
  }

.button{
  
  background-color: #D35931;
}
.button:hover {
  background-color: #adcbc3;
}

  @media (max-width: 576px) { /* Adjust the breakpoint as needed */

    .content{
        padding:10px;
    }
  }


  .title {
    font-size: rem(34px);
    font-weight: 900;


    @media (max-width: $mantine-breakpoint-sm) {
        font-size: rem(24px);
    }
}