.wrapper {
    position: relative;
    margin-bottom: rem(30px);
  }
  
  .dropzone {
    border-width: rem(1px);
    padding-bottom: rem(50px);
  }
  
  .icon {
    color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
  }
  .control {
    position: absolute;
    width: rem(250px);
    left: 50%;
    transform: translateX(-50%);
    bottom: rem(-20px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
  }
  