.header {
    height: rem(56px);
    margin-bottom: rem(120px);
    background-color: #f2f2f2;
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 85px;
    padding-right: 230px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 100px;
    z-index: 1000;

  }
  
  .logo {
    flex-shrink: 0;
    padding-left: 10px;
  }
  
  .inner {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  
  .link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
  
    [data-mantine-color-scheme] &[data-active] {
      background-color: #5b3283;
      color: var(--mantine-color-white);
    }
  }
  
  .burger-container {
    display: none;
  }


  .mobileLinks {
    display: none;
    opacity: 0;
    transition: none; /* Remove default transition */
  }
  
  .mobileLinks.visible {
    opacity: 1;
    transition: opacity 0.2s ease-in; /* Apply transition only when becoming visible */
  }


  
  @media (max-width: 768px) {
    .header {
      padding-left: 10px;
      padding-right: 10px;
      justify-content: space-between;
    }
  
    .logo {
      padding-left: 0;
      margin-right: auto;
      margin-left: -8px;
    }
  
    .inner {
      display: none;
    }
  
    .burger-container {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  
    .mobileLinks {

      margin-top: 23px;
      display: flex;
      flex-direction: row; /* Changed from column to row */
      justify-content: center; /* Center the links horizontally */
      align-items: center; /* Center the links vertically */
      position: absolute;
      top: rem(56px);
      right: 0;
      left: 0;
      background-color: var(--mantine-color-body);
      padding: 15px;
      box-shadow: var(--mantine-shadow-sm);
      margin-right: 20px;
      margin-left: 20px;
      border-radius: 8px;
    }
  
    /* Add some spacing between the links */
    .mobileLinks .link{
      margin: 0 rem(5px);
      
    }
  }

